:root {
  --pointer-width: 25px;
  --pointer-midpoint: 15px;
  --pointer-height: 140px;
  --border-width: 10px;
}

body {
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-weight: 500;
  font-size: 2rem;
  color: orangered;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: grey; */
}

.wrapper {
  position: absolute;
  top: 100px;
}

.pointer {
  position: absolute;
  height: var(--pointer-height);
  transform: rotate(0deg);
  transform-origin: calc(var(--pointer-midpoint)) 100%;
  transition: all 1s ease;
  left: calc(var(--pointer-height) - var(--pointer-width) - var(--pointer-midpoint) + var(--border-width));
  top: calc(50px + var(--border-width));
  background: none;
}

.pointer-outline {
  position: absolute;
  height: calc(var(--pointer-height) * 2);
  width: calc(var(--pointer-height) * 2);
  border: 10px solid #ddd;
  border-radius: 50%;
  top: 50px;
  left: calc(var(--pointer-width) * -1);
  background-color: #f6f6f6;
  transition: background 1s ease;
}

input[type="radio"]#pos-1:checked ~ .pointer {
  transform: rotate(0deg);
  transition: all 1s ease;
}

input[type="radio"]#pos-1:checked ~ .pointer-outline {
  background-color: hsl(200, 100%, 50%) !important;
  transition: background 1s ease;
}

input[type="radio"]#pos-2:checked ~ .pointer {
  transform: rotate(45deg);
  transition: all 1s ease;
}

input[type="radio"]#pos-2:checked ~ .pointer-outline {
  background-color: hsl(185, 100%, 50%) !important;
  transition: background 1s ease;
}

input[type="radio"]#pos-3:checked ~ .pointer {
  transform: rotate(90deg);
  transition: all 1s ease;
}

input[type="radio"]#pos-3:checked ~ .pointer-outline {
  background-color: hsl(150, 100%, 50%) !important;
  transition: background 1s ease;
}

input[type="radio"]#pos-4:checked ~ .pointer {
  transform: rotate(135deg);
  transition: all 1s ease;
}

input[type="radio"]#pos-4:checked ~ .pointer-outline {
  background-color: hsl(75, 100%, 50%) !important;
  transition: background 1s ease;
}

input[type="radio"]#pos-5:checked ~ .pointer {
  transform: rotate(180deg);
  transition: all 1s ease;
}

input[type="radio"]#pos-5:checked ~ .pointer-outline {
  background-color: hsl(60, 100%, 50%) !important;
  transition: background 1s ease;
}

input[type="radio"]#pos-6:checked ~ .pointer {
  transform: rotate(225deg);
  transition: all 1s ease;
}

input[type="radio"]#pos-6:checked ~ .pointer-outline {
  background-color: hsl(50, 100%, 50%) !important;
  transition: background 1s ease;
}

input[type="radio"]#pos-7:checked ~ .pointer {
  transform: rotate(270deg);
  transition: all 1s ease;
}

input[type="radio"]#pos-7:checked ~ .pointer-outline {
  background-color: hsl(35, 100%, 50%) !important;
  transition: background 1s ease;
}


input[type="radio"]#pos-8:checked ~ .pointer {
  transform: rotate(315deg);
  transition: all 1s ease;
}

input[type="radio"]#pos-8:checked ~ .pointer-outline {
  background-color: hsl(15, 100%, 50%) !important;
  transition: background 1s ease;
}

input[type="radio"] {
  display: none;
  width: 0;
  height: 0;
}

.btn {
  cursor: pointer;
  padding: 4px 8px;
  margin: 0;
  font-weight: 500;
  border-radius: 2px;
  border: 0;
}

input[type="radio"]:not(:checked) + .btn {
  background-color: #f0f0f0;
  transition: all 0.3s ease;
}

input[type="radio"]:checked + .btn {
  background-color: orangered;
  color: white;
  transition: all 0.3s ease;
}

input[type="radio"]:not(:checked) + .btn:hover {
  background-color: #e3e3e3;
  transition: all 0.3s ease;
}

.pointer > .end {
  border-bottom: solid var(--pointer-width) rgb(255, 255, 255);
  border-right: solid var(--pointer-midpoint) transparent;
  border-left: solid var(--pointer-midpoint) transparent;
  box-shadow: 0 5px 5px -5px #00000099; 
}